body {
    margin: 5px;
    background-color: #FEFEA2;
}
.navbar-default{  /*nav bar*/
    background-color: #2D9713;
    border: 2px solid #492704;
    border-radius: 8px;
}
.nav a{ /* all links within header */
    color: #FEC731 !important;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}
.navbar-brand{ /* GG logo*/
    color: #FEC731 !important;
    font-weight: bold;
}
.dropdown-menu a{ /* links in dropdown menu */
    color: #2D9713 !important;
    height: 25px;
}
.navbar-default .navbar-nav .open a,
.dropdown-menu{
        background-color: #FEC731;
}
.navbar-default .navbar-nav .open a:hover, /*when dropdown open*/ 
.navbar-default .navbar-nav .open a:focus,
.navbar-default .navbar-nav  li  a:hover{/*when hover on links*/
    color: #2D9713  !important;
    text-shadow: 0px 0px !important;
    background-color: #FEFEA2 !important;
    text-decoration: underline;
}


h4{
    color: #2D9713;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
p{
    color: #2D9713;
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}
p a{
    color: #492704;
    text-decoration: underline;
}
#FAQs{
    border: 2px solid #492704;
    padding: 5px;
    border-radius: 8px;
}
#carousel-example-generic{
    margin-left: 0px;
    margin-bottom: 15px;
}